<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Profile</title>
 <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/profile.css" />
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.js"
			integrity="sha512-nZmAl1ClAQ0kQ2EH3H6JMQHxNt2K7pGcgxQRoMpYuuuXyPnIGaMKNS7jwZRqBJhfSRYXc2myu+iKFbwhiCL3+w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://pagecdn.io/lib/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"
			crossorigin="anonymous"
		></script>
        
<script>

	let email='<%-email%>'
</script>
		<link rel="stylesheet" type="text/css" href="/css/tags.css" />
	</head>
	<body>
		<div class="main-container">
			
		</div>
		<script src="/js/profile.js"></script>
	</body>
</html>
