.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: black;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
  overflow: hidden;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  color: black;
  max-width: inherit;
  overflow: scroll;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #292929;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #292929;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #292929;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
  padding:2px;
  background-color:#292929;

}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
  }
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  color:white;
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.tt-input {
  color: white;
}
.tt-hint {
  width: 396px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #292929;
  border-radius: 8px;
  outline: none;
}

.tt-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #292929;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  background-color: white;

  color: black;
}
.tt-suggestion:hover {
  color: white;
  background-color: #292929;
}

.tt-suggestion.tt-is-under-cursor {
  color: black;
  background-color: black;
}

.tt-suggestion p {
  margin: 0;
}
